<header>
  <div class=" grid grid-cols-3 items-center c-w z-">
    <div>
      <!-- For mobile -->
      <!--
        <div class="block md:hidden text-white text-3xl">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      -->

      <!-- For desktop -->
      <ul class="md:flex text-white gap-5 text-sm">
        {% for link in section.settings.menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex justify-self-center">
      <img
        src="{{ section.settings.logo | img_url: "original" }}"
        alt="images not found"
        width=""
        height=""
        class="w-16 md:w-28 "
      >
    </div>
    <div class="flex justify-end over">
      <ul class="flex text-white gap-5 text-sm items-baseline">
        <li>
          <a href="#" onclick="sidebar()"
            ><img
              src="{{ section.settings.search_logo | img_url: "original" }} "
              alt="images not found"
              width=""
              height=""
          ></a>
        </li>
        <li>
          <a href="#" onclick="sidebar1()"
            ><img
              src="{{ section.settings.user_logo | img_url: "original" }} "
              alt="images not found"
              width=""
              height=""
          ></a>
        </li>
        <li>
          <a href="#" onclick="sidebar2()" class="relative"
            ><img
              src="{{ section.settings.shopping_bag_logo | img_url: "original" }} "
              alt="images not found"
              width=""
              height=""
            >
            <span class="absolute right-[-12px] top-[-12px] h-5 w-5 bg-white rounded-full text-black flex items-center justify-center">
              {{- section.settings.counter -}}
            </span>
          </a>
        </li>
        <li class="hidden md:block">
          <a href="#">{{ section.settings.price }}</a>
        </li>
      </ul>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "search_logo",
      "label": "Search Logo"
    },
      {
      "type": "image_picker",
      "id": "user_logo",
      "label": "User Logo"
    },
      {
      "type": "image_picker",
      "id": "shopping_bag_logo",
      "label": "Shopping Logo"
    },
      {
      "type": "text",
      "id": "counter",
      "label": "Counter",
     "default": "0"
    },
      {
      "type": "text",
      "id": "price",
      "label": "Price",
      "default": "RS.0.00"
    },
          {
    "type": "link_list",
    "id": "menu",
    "default": "main-menu",
    "label": "t:sections.header.settings.menu.label"
  }
  ],
      "presets":[
    {
      "name":"Custom Header"
    }
  ]
}
{% endschema %}
